$color-primary: #aa273d;
$color-secondary: #e24a63;


.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient($color-primary, $color-secondary, white); 
}

.title {
  font-size: 50px;
  text-align: center;
}

.site-footer {
  background-image: linear-gradient( $color-secondary, white);
  padding: 20px 0; 
}