.jumbotron {
  margin: 0;
  padding: .5em;
  background-image: linear-gradient(#aa273d, #e24a63,  white); }

.title {
  font-size: 70px;
  text-align: center; }

.site-footer {
  background-image: linear-gradient(#aa273d, white);
  padding: 20px 0; }

.navbar {
  background-color: #aa273d;
}
