$color-primary: #aa273d;
$color-secondary: #e24a63;
$color-header: rgba(211, 36, 36, 0.877);

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient($color-primary, $color-secondary, white); 
}

.title {
  font-size: 50px;
  text-align: center;
}

.site-footer {
  background-image: linear-gradient( $color-primary, $color-secondary, white);
  padding: 20px 0; 
}

#loginModal {
  .modal-header {
    background-color: $color-header;
  }
}